.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
    min-height: 70vh;
    max-width: 550px;
    width: calc(100% - 20px);
    margin: 0 auto;
}

.form {
    display: flex;
    margin: 10px auto;
    width: 100%;
}

.radiobuttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
